* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif
}

h1 {
  font-size: 1.2em;
}

.main_wrapper {
  background-image: url('/src/assets/OBUV-83.jpg');
  background-position: top top;
  background-repeat: no-repeat;
  background-size: 100%;
}

.header {

  /* display: block; */
  /* justify-content: space-between; */
  align-items: top;
  height: 250px;
  
  /* padding: 0 100px */
}

@media screen and (min-width:100px) and (max-width:500px) {
  h1 {
    font-size: 1em;
  }

  .logo_img {
    width: 40%;
    height: 40%;
  }

  .basket_image {
    width: 80%;
    height: 80%;
  }
}
.menu_line {
  display: flex;
  align-items: center;
}

.menu {
  position: absolute;
  right: 0;
  text-align: right;
  padding-top: 20px;
}

.menu_item {
  font-size: medium;
  color: black;
  margin-right: 20px;
  
}


.title_wrapper {
  display: inline-flex;
  justify-content: space-between;

}

.title {
  display: flex;
  color: #ef6419;
  align-items: center;
  /*Центрирование по вертикали */
  /* width: 700px; */
}


.title_basket {
  display: flex;
  float: right;
  align-items: center;
  /*Центрирование по вертикали */

}

.features_wrapper {
  display: flex;
  justify-content: center;
}

.features_wrapper_ul {
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  background: rgba(255, 255, 255, 0.8);
  /* Полупрозрачный фон */
  padding: 20px 20px 20px 30px;
  /* height: 200px; */
  width: 80%;
}

.features_ul {
  font-size: smaller;
  margin-top: 20px;
}

.features_li {
  margin-top: 5px;
}

.features_btn {
  margin: 10px;
  padding: 15px;
  background-color: #ef6419;
  color: white;
  border-radius: 10px;
  border: none;
  width: 140px;
  font-size: medium;
}

.features_wrapper_btn {
  display: block;
}

.ToggleButtonLight {
  color: white;

}

.Block_wrapper {
  padding: 15px;
}


.NewsGoods_wrapper {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

.ProductCard_wrapper {
  margin: 10px;
}

.ProductCard_img {
    width: 100px;
}

.ProductCard_card {
    font-size: small;
}

.News_wrapper {
  padding: 10px;
  display: flex;  
  flex-wrap: wrap; 
}

.Stores_wrapper {
  padding: 10px;
  display: flex;  
  flex-wrap: wrap; 
}

.par {
  padding: 10px;
  background-color: #ef6419;
  color: white;
  font-size: medium;
  border-radius: 5px;
}

.social_wrapper {
  padding: 10px;
  display: flex;  
  align-items: center;
  justify-content: center;
}

.social_icons {
  padding-right: 50px;
}