* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif
}

h1 {
  font-size: 1.2em;
}

.main_wrapper {
  background-image: url('/src/assets/footer.jpg');
  background-position: top top;
  background-repeat: no-repeat;
  background-size: 100%;
}

.header {

  /* display: block; */
  /* justify-content: space-between; */
  align-items: top;
  height: 250px;
  
  /* padding: 0 100px */
}

@media screen and (min-width:100px) and (max-width:500px) {
  h3 {
    font-size: 8rem;
  }

  .logo_img {
    width: 80%;
    height: 80%;
  }

  .basket_image {
    width: 80%;
    height: 80%;
  }
}


.menu_line {
  /* display: flex; */
  align-items: right;
  /* text-align: right; */
}

.menu {
  /* //position: absolute; */
  text-align: right;
  /* margin-top: 20px; */
  /* margin-bottom: 20px; */
}

.menu_item {
  font-size: medium;
  color: black;
  margin-right: 10px;
  
}


.title_wrapper {
  display: inline-flex;
  justify-content: space-between;

}

.title {
  display: flex;
  color: #ef6419;
  align-items: center;
  /*Центрирование по вертикали */
  /* width: 700px; */
}


.title_basket {
  display: flex;
  float: right;
  align-items: center;
  /*Центрирование по вертикали */

}

.features_wrapper {
  display: flex;
  justify-content: center;
}

.features_wrapper_ul {
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  background: rgba(255, 255, 255, 0.8);
  /* Полупрозрачный фон */
  padding: 20px 20px 20px 30px;
  /* height: 200px; */
  width: 70%;
}

.features_ul {
  font-size: smaller;
  margin-top: 20px;
}

.features_li {
  margin-top: 5px;
}

.features_btn1 {
  /* background-color: rgb(239, 100, 25); */
  background: rgba(239, 100, 25, 0.7);
  color: white;
  border: none;
  font-size: medium;
  cursor: pointer;
  width: 160px;
  height: 100px;
}

.features_btn2 {
  background: rgba(18, 197, 30, 0.7);
  color: white;
  border: none;
  font-size: medium;
  cursor: pointer;
  width: 160px;
  height: 100px;
}

.features_wrapper_btn {
  display: block;
}

.ToggleButtonLight {
  color: white;

}

.Block_wrapper {
  padding: 15px;
  display: block;
}


.NewsGoods_wrapper {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

.ProductCard_wrapper {
  margin: 10px;
}

.ProductCard_img {
    width: 100px;
}

.ProductCard_card {
    font-size: small;
}

.product_card_name {
  /* font-size: small; */
}

.News_wrapper {
  padding: 10px;
  display: flex;  
  flex-wrap: wrap; 
}

.Stores_wrapper {
  padding: 10px;
  display: flex;  
  flex-wrap: wrap; 
}

.par {
  padding: 10px;
  background-color: #ef6419;
  color: white;
  font-size: medium;
  border-radius: 5px;
}

.social_wrapper {
  padding: 10px;
  display: flex;  
  align-items: center;
  justify-content: center;
}

.social_icons {
  padding-right: 50px;
}

.goods_wrapper {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

.hor1 {
display: block;  
margin-left: 10px;
}

.ver1 {
  display: block;  
  }

  .goodList {
    display: flex;  
  }



.vertical_wrapper {
  display: flex;
  
}

.group_wrapper {
  width: 200px;
  display: block;
  margin-left: 10px;
}

.sort_wrapper {
  /* width: 450px; */
  display: flex;  
  margin-bottom: 10px;
}

.size_wrapper {
  display: inline
}


.search_input {
  width: 200px;
  height: 25px;
  background: transparent;
  border:1px solid #ef6419;
  margin-left: 10px;
  border-radius: 5px;
}

.search_clear {
  position: relative;
  background: transparent;
  border:1px solid #ef6419;
  width: 25px;
}

.sort_div {
  display: flex;
  
  position: absolute;
  right: 10px;
}

.inputSort {
  width: 200px;
  background: transparent;
  border:1px solid #ef6419;
  border-radius: 5px;
  height: 25px;
}

.inner_btn {
  position: relative;
  width: 50px;
  border: none;
  background-color: #ef6419;
  color: white;
  line-height: 1px;
  /* left: calc(200px); */
  z-index: 99999;
}

.range {
  width: 150px;
}

.pages_wrapper {
  display:flex ;
}

.page-item .page-link {
  background: #ef6419;
  color: white;
  
}

.page-link .active {
  --bs-pagination-color: rgba(18, 197, 30, 0.7);
  background-color: rgba(18, 197, 30, 0.7);
  color: rgba(18, 197, 30, 0.7)
}

.page {
  margin: 10px;
  padding: 10px;
  border-radius: 100px;
  border: #ef6419;
  border-style: solid;
}

.active_page {
  font-weight: bold ;
}

.input_wrapper {
  display: flex;
}

._mb {
  width: 150px;
}
